# VARIABLES DE ENTORNO Y SEGURIDAD
.env
generar_hash.php
.env.local
.env.*.local

# ARCHIVOS DE DATOS (CIENCIA DE DATOS)
*.csv
*.zip
*.xlsx
*.json
!package.json

# RESPALDOS DE BASES DE DATOS
*.sql
bases de datos/

# DIRECTORIOS ESPECÍFICOS DEL PROYECTO
"Limpieza de Datos/Datos Limpios/"
"Liempeza de Datos/Datos Limpios/"

# DEPENDENCIAS DE SOFTWARE
node_modules/
vendor/

# ARCHIVOS COMPILADOS Y FRONTEND
Modelo/dist/
*.map
.sass-cache/

# PYTHON Y ENTORNOS VIRTUALES
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ARCHIVOS DEL SISTEMA OPERATIVO
Thumbs.db
Desktop.ini
.DS_Store